<h3>生徒情報</h3>
名前：<%= @student.name %><br>
学年：<%= @student.grade %>年生<br>
自己紹介：<%= @student.content %><br>
<%= link_to '[Top]',students_path %>
<%= link_to '[Edit]',edit_student_path(@student.id) %>
<%= link_to '[x]',student_path(@student),method: :delete,data: {confirm: 'Sure?'}%>
